.button {
  background-color: #ffffff; 
  border: 2px solid #008CBA;
  color: black;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 8px 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 110px;  
  border-radius: 20px;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}
