.dropdown {
  -webkit-flex-direction: row;
   flex-direction: row; 
   align-items: center; 
}

select {
  position: relative;
  width: 260px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 0 white;
  border-radius: 2px;
  margin-left: 16px;   
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

div.select {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  color: #3e3e3e;
  font-size: 1em;
  pointer-events: none;
  z-index: 2;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  border-right: solid 2px red;
  border-bottom: solid 2px red;
  -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.select.down { 
    animation-name: down-to-up; 
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);   
}

div.select.up {   
    animation-name: up-to-down;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes down-to-up {
  from {transform: rotate(-135deg);}
  to {transform: rotate(45deg);}
}

/* Standard syntax */
@keyframes down-to-up {
  from {transform: rotate(-135deg);}
  to {transform: rotate(45deg);}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes up-to-down {
  from {transform: rotate(45deg);}
  to {transform: rotate(-135deg);}
}

/* Standard syntax */
@keyframes up-to-down {
  from {transform: rotate(45deg);}
  to {transform: rotate(-135deg);}
}
