.dropdown {
  position: relative;
  -webkit-flex-direction: row;
   flex-direction: row; 
   align-items: center; 
   right: 12px;
}

select {
  position: relative;
  width: 260px;
  height: 35px;  
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid #cccccc; 
  background-color: white;   
  margin-left: 16px;   
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.6;
}

optgroup{ 
  font-size: 1.2em;
}

div.select {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 9px;
  height: 9px; 
  color: #cccccc;
  font-size: 1em;
  pointer-events: none;
  z-index: 2;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  border-right: solid 2px #cccccc;
  border-bottom: solid 2px #cccccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.select.down { 
    animation-name: down-to-up; 
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);   
}

div.select.up {   
    animation-name: up-to-down;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes down-to-up {
  from {transform: rotate(-135deg);}
  to {transform: rotate(45deg);}
}

/* Standard syntax */
@keyframes down-to-up {
  from {transform: rotate(-135deg);}
  to {transform: rotate(45deg);}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes up-to-down {
  from {transform: rotate(45deg);}
  to {transform: rotate(-135deg);}
}

/* Standard syntax */
@keyframes up-to-down {
  from {transform: rotate(45deg);}
  to {transform: rotate(-135deg);}
}
