div { 
  display: flex;
  display: -webkit-flex; 
  -webkit-flex-direction: column;
  flex-direction: column;    
}

.input-text label {
  margin-left: auto;
  margin-right: 10px; 
}

input[type=text] {
  width: 330px;
  height: 35px;
  padding: 12px 5px;
  margin: 8px;  
  border: 1px solid #cccccc; 
  background-color: #ffffff;
}

.asterisk {
  color: #dc143c;
  font-weight: 700;
}
