input[type="checkbox"] {
  display: none;   
}

input[type="checkbox"] ~ span {
  position: relative; 
  padding: 3px 0 3px 25px;   
  margin: 15px;
}

input[type="checkbox"] ~ span:before {
  content: "";
  position: absolute;  
  width: 18px;
  height: 18px;
  background: #fff;
  margin-right: 5px;
  border: 1px solid #ccc;  
  left: 0;
  top: 4px;  
  transition: all 300ms ease-in-out;
}

input[type="checkbox"]:checked ~ span:before {
  background:  #29d;
}

input[type="checkbox"]:checked ~ span:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
