* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 350;
  font-color: #9098aa;
}

label {
  width: max-content;
}

not(output):-moz-ui-invalid {
  box-shadow: none;
}

.opacity-true {
  opacity: .6;
}

ul, li {
  list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
